{% extends 'home/main.html' %}

{% block content %}

{% if user.is_superuser or user.is_staff %}
  <div class="flex">
    <div class="row-items" id="d1">Dryer</div>
    <div class="row-items" id="d2">Dryer</div>
    <div class="row-items" id="d3">Dryer</div>
    <div class="row-items" id="d4">Dryer</div>
    <div class="col-items" id="l1">Laundry</div>
    <div class="col-items" id="l2">Laundry</div>
    <div class="col-items" id="l3">Laundry</div>
    <div class="col-items" id="l4">Laundry</div>
  </div>
{% else %}
<div class="flex">
  <div class="row-items" id="d1">Dryer</div>
  <div class="row-items" id="d2">Dryer</div>
  <div class="row-items" id="d3">Dryer</div>
  <div class="row-items" id="d4">Dryer</div>
  <div class="col-items" id="l1">Laundry</div>
  <div class="col-items" id="l2">Laundry</div>
  <div class="col-items" id="l3">Laundry</div>
  <div class="col-items" id="l4">Laundry</div>
</div>
{% endif %}
{% endblock %}