{% extends 'home/main.html' %}

{% block content %}
<div class="all">
  <div class="flex">
    {% if dryer_machines.0.mode == 'neutral' %}
      <a href="{% url 'update-dryer' 0 %}"><button type="button" class="row-items" id="d1">Dryer</button></a> 
    {% elif dryer_machines.0.mode == 'occupied' %}
      {% if dryer_machines.0.user == request.user %}
        <a href="{% url 'update-dryer' 0 %}"><button style="background-color: #ff5349; color: white" type="button" class="row-items" id="d1">Dryer</button></a> 
      {% else %}
        <button style="background-color: #ff5349; color: white" type="button" class="row-items" id="d1">Dryer</button>
      {% endif %}
    {% elif dryer_machines.0.mode == 'free' %}
      {% if dryer_machines.0.user == request.user %}
        <a href="{% url 'update-dryer' 0 %}"><button type="button" style="background-color: #50c878; color: white;" class="row-items" id="d1">Dryer</button></a> 
      {% else %}
        <button style="background-color: #50c878; color: white" type="button" class="row-items" id="d1">Dryer</button>
      {% endif %}
    {% endif %}

    {% if dryer_machines.1.mode == 'neutral' %}
      <a href="{% url 'update-dryer' 1 %}"><button type="button" class="row-items" id="d2">Dryer</button></a> 
    {% elif dryer_machines.1.mode == 'occupied' %}
      {% if dryer_machines.1.user == request.user %}
        <a href="{% url 'update-dryer' 1 %}"><button style="background-color: #ff5349; color: white" type="button" class="row-items" id="d2">Dryer</button></a> 
      {% else %}
        <button style="background-color: #ff5349; color: white" type="button" class="row-items" id="d2">Dryer</button>
      {% endif %}
    {% elif dryer_machines.1.mode == 'free' %}
      {% if dryer_machines.1.user == request.user %}
        <a href="{% url 'update-dryer' 1 %}"><button type="button" style="background-color: #50c878; color: white;" class="row-items" id="d2">Dryer</button></a> 
      {% else %}
        <button style="background-color: #50c878; color: white" type="button" class="row-items" id="d2">Dryer</button>
      {% endif %}
    {% endif %}

    {% if dryer_machines.2.mode == 'neutral' %}
      <a href="{% url 'update-dryer' 2 %}"><button type="button" class="row-items" id="d3">Dryer</button></a> 
    {% elif dryer_machines.2.mode == 'occupied' %}
      {% if dryer_machines.2.user == request.user %}
        <a href="{% url 'update-dryer' 2 %}"><button style="background-color: #ff5349; color: white" type="button" class="row-items" id="d3">Dryer</button></a> 
      {% else %}
        <button style="background-color: #ff5349; color: white" type="button" class="row-items" id="d3">Dryer</button>
      {% endif %}
    {% elif dryer_machines.2.mode == 'free' %}
      {% if dryer_machines.2.user == request.user %}
        <a href="{% url 'update-dryer' 2 %}"><button type="button" style="background-color: #50c878; color: white;" class="row-items" id="d3">Dryer</button></a> 
      {% else %}
        <button style="background-color: #50c878; color: white" type="button" class="row-items" id="d3">Dryer</button>
      {% endif %}
    {% endif %}

    {% if dryer_machines.3.mode == 'neutral' %}
      <a href="{% url 'update-dryer' 3 %}"><button type="button" class="row-items" id="d4">Dryer</button></a> 
    {% elif dryer_machines.3.mode == 'occupied' %}
      {% if dryer_machines.3.user == request.user %}
        <a href="{% url 'update-dryer' 3 %}"><button style="background-color: #ff5349; color: white" type="button" class="row-items" id="d4">Dryer</button></a> 
      {% else %}
        <button style="background-color: #ff5349; color: white" type="button" class="row-items" id="d4">Dryer</button>
      {% endif %}
    {% elif dryer_machines.3.mode == 'free' %}
      {% if dryer_machines.3.user == request.user %}
        <a href="{% url 'update-dryer' 3 %}"><button type="button" style="background-color: #50c878; color: white;" class="row-items" id="d4">Dryer</button></a> 
      {% else %}
        <button style="background-color: #50c878; color: white" type="button" class="row-items" id="d4">Dryer</button>
      {% endif %}
    {% endif %}

    {% if laundry_machines.0.mode == 'neutral' %}
      <a href="{% url 'update-laundry' 0 %}"><button type="button" class="col-items" id="l1">Laundry</button></a> 
    {% elif laundry_machines.0.mode == 'occupied' %}
      {% if laundry_machines.0.user == request.user %}
        <a href="{% url 'update-laundry' 0 %}"><button style="background-color: #ff5349; color: white" type="button" class="col-items" id="l1">Laundry</button></a> 
      {% else %}
        <button style="background-color: #ff5349; color: white" type="button" class="col-items" id="l1">Laundry</button>
      {% endif %}
    {% elif laundry_machines.0.mode == 'free' %}
      {% if laundry_machines.0.user == request.user %}
        <a href="{% url 'update-laundry' 0 %}"><button type="button" style="background-color: #50c878; color: white;" class="col-items" id="l1">Laundry</button></a> 
      {% else %}
        <button style="background-color: #50c878; color: white" type="button" class="col-items" id="l1">Laundry</button>
      {% endif %}
    {% endif %}

    {% if laundry_machines.1.mode == 'neutral' %}
      <a href="{% url 'update-laundry' 1 %}"><button type="button" class="col-items" id="l2">Laundry</button></a> 
    {% elif laundry_machines.1.mode == 'occupied' %}
      {% if laundry_machines.1.user == request.user %}
        <a href="{% url 'update-laundry' 1 %}"><button style="background-color: #ff5349; color: white" type="button" class="col-items" id="l2">Laundry</button></a> 
      {% else %}
        <button style="background-color: #ff5349; color: white" type="button" class="col-items" id="l2">Laundry</button>
      {% endif %}
    {% elif laundry_machines.1.mode == 'free' %}
      {% if laundry_machines.1.user == request.user %}
        <a href="{% url 'update-laundry' 1 %}"><button type="button" style="background-color: #50c878; color: white;" class="col-items" id="l2">Laundry</button></a> 
      {% else %}
        <button style="background-color: #50c878; color: white" type="button" class="col-items" id="l2">Laundry</button>
      {% endif %}
    {% endif %}

    {% if laundry_machines.2.mode == 'neutral' %}
      <a href="{% url 'update-laundry' 2 %}"><button type="button" class="col-items" id="l3">Laundry</button></a> 
    {% elif laundry_machines.2.mode == 'occupied' %}
      {% if laundry_machines.2.user == request.user %}
        <a href="{% url 'update-laundry' 2 %}"><button style="background-color: #ff5349; color: white" type="button" class="col-items" id="l3">Laundry</button></a> 
      {% else %}
        <button style="background-color: #ff5349; color: white" type="button" class="col-items" id="l3">Laundry</button>
      {% endif %}
    {% elif laundry_machines.2.mode == 'free' %}
      {% if laundry_machines.2.user == request.user %}
        <a href="{% url 'update-laundry' 2 %}"><button type="button" style="background-color: #50c878; color: white;" class="col-items" id="l3">Laundry</button></a> 
      {% else %}
        <button style="background-color: #50c878; color: white" type="button" class="col-items" id="l3">Laundry</button>
      {% endif %}
    {% endif %}

    {% if laundry_machines.3.mode == 'neutral' %}
      <a href="{% url 'update-laundry' 3 %}"><button type="button" class="col-items" id="l4">Laundry</button></a> 
    {% elif laundry_machines.0.mode == 'occupied' %}
      {% if laundry_machines.3.user == request.user %}
        <a href="{% url 'update-laundry' 3 %}"><button style="background-color: #ff5349; color: white" type="button" class="col-items" id="l4">Laundry</button></a> 
      {% else %}
        <button style="background-color: #ff5349; color: white" type="button" class="col-items" id="l4">Laundry</button>
      {% endif %}
    {% elif laundry_machines.3.mode == 'free' %}
      {% if laundry_machines.3.user == request.user %}
        <a href="{% url 'update-laundry' 3 %}"><button type="button" style="background-color: #50c878; color: white;" class="col-items" id="l4">Laundry</button></a> 
      {% else %}
        <button style="background-color: #50c878; color: white" type="button" class="col-items" id="l4">Laundry</button>
      {% endif %}
    {% endif %}

  </div>
  <div class="key">    
    <div class="key-item" style="border-style: line; border-color: #D3D3D3;" id="f">Open</div>   
    <div class="key-item" style="background-color: #50c878; color: white" id="r">Ready</div>   
    <div class="key-item" style="background-color: #ff5349; color: white" id="o">Taken</div> 
  </div>
</div>

{% endblock %}