<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>submit</title>
    <link rel="stylesheet" href="../../../static/assets/bootstrap/css/bootstrap.min.submit.css">
    <link rel="stylesheet" href="../../../static/assets/css/FakePearl.css">
    <link rel="stylesheet" href="../../../static/assets/css/submit.css">
</head>

<body>
    <div class="submit-section">
        <div class="submit-form" style="opacity: 1;">
            <form style="border-style: none;padding-right: 20px;padding-left: 20px;">
                <div class="container">
                    <div class="row" style="margin-right: -5px;">
                        <div class="col-md-8" style="border-top-left-radius: 1000;border-style: none;padding: 10px;padding-bottom: 10px;margin: 0 auto;">
                            <div style="margin-bottom: 0px;background: rgb(239, 241, 246);border-radius: 16px;" class="form-group mb-3">
                                <p class="label" style="margin-bottom: 0px;text-align: left;padding-left: 15px;border-radius: 16px;color: rgb(110,113,145);">UCI Net ID</p><input class="form-control item" type="text" id="username" name="job_title" style="border-style: none;border-color: var(--white);margin-bottom: 0px;padding-bottom: 0px;padding-top: 0px;border-radius: 16px;height: 39px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4" style="border-top-left-radius: 1000;border-style: none;padding: 10px;padding-bottom: 10px;">
                            <div style="margin-bottom: 0px;background: rgb(239, 241, 246);border-radius: 16px;" class="form-group mb-3">
                                <h1 id="label-mode-1" class="label" style="font-family: FakePearl;">Soil:</h1>
                                <p style="margin-bottom: 0px;text-align: left;padding-left: 15px;border-radius: 16px;color: rgb(110,113,145);"></p>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="btn-group btn-group-toggle" data-bs-toggle="buttons"><label class="form-label btn btn-outline-primary" style="font-family: FakePearl;"><input type="radio" id="btnradio1" class="radio-top" name="btnradio">Light</label><label class="form-label btn btn-outline-primary" style="font-family: FakePearl;"><input type="radio" id="btnradio-2" class="radio-top" name="btnradio">Medium</label><label class="form-label btn btn-outline-primary" style="font-family: FakePearl;"><input type="radio" id="btnradio-3" class="radio-top" name="btnradio">Heavy</label></div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4" style="border-top-left-radius: 1000;border-style: none;padding: 10px;padding-bottom: 10px;">
                            <div style="margin-bottom: 0px;background: rgb(239, 241, 246);border-radius: 16px;" class="form-group mb-3">
                                <h1 id="label-mode-2" class="label" style="font-family: FakePearl;">Cycle:</h1>
                                <p style="margin-bottom: 0px;text-align: left;padding-left: 15px;border-radius: 16px;color: rgb(110,113,145);"></p>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="btn-group btn-group-toggle" data-bs-toggle="buttons"><label class="form-label btn btn-outline-primary" style="font-family: FakePearl;"><input type="radio" id="btnradio-1" class="radio-top" name="btnradio">Normal</label><label class="form-label btn btn-outline-primary" style="font-family: FakePearl;"><input type="radio" id="btnradio-4" class="radio-top" name="btnradio">Perm Press</label><label class="form-label btn btn-outline-primary" style="font-family: FakePearl;"><input type="radio" id="btnradio-5" class="radio-top" name="btnradio">Delicates</label></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" style="border-top-left-radius: 1000;border-style: none;padding: 10px;padding-bottom: 10px;">
                            <div style="margin-bottom: 0px;background: rgb(239, 241, 246);border-radius: 16px;" class="form-group mb-3">
                                <h1 id="label-mode-3" class="label" style="font-family: FakePearl;">Temp:</h1>
                                <p style="margin-bottom: 0px;text-align: left;padding-left: 15px;border-radius: 16px;color: rgb(110,113,145);"></p>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="btn-group btn-group-toggle" data-bs-toggle="buttons"><label class="form-label btn btn-outline-primary" style="font-family: FakePearl;"><input type="radio" id="btnradio-6" class="radio-top" name="btnradio">Hot</label><label class="form-label btn btn-outline-primary" style="font-family: FakePearl;"><input type="radio" id="btnradio-7" class="radio-top" name="btnradio">Warm</label><label class="form-label btn btn-outline-primary" style="font-family: FakePearl;"><input type="radio" id="btnradio-8" class="radio-top" name="btnradio">Cold</label></div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-10 col-md-4" style="margin: 0 auto;">
                            <div class="form-group mb-3"><button class="btn btn-primary d-block create-account w-100" type="submit" style="border-color: rgb(157,162,173);background: rgb(157,162,173);">Comfirm</button></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
