body{
  /* background-color: #adcdde; */
}

.flex{
height: 80vh;
width: 60vw;
position: absolute;
border-style: solid;
border-radius: 7px;
background-color: #c7e2f0;
left: 20vw;
top: 5vh;
}
#d1 {
position: absolute;
top: 5%;
left: 15%;
}
#d2 {
position: absolute;
top: 5%;
left: 30%;
}
#d3 {
position: absolute;
top: 5%;
left: 45%;
}
#d4 {
position: absolute;
top: 5%;
left: 60%;
}
#l1 {
position: absolute;
top: 23%;
left: 80%;
}
#l2 {
position: absolute;
top: 41%;
left: 80%;
}
#l3 {
position: absolute;
top: 59%;
left: 80%;
}
#l4 {
position: absolute;
top: 77%;
left: 80%;
}


#f{
  position: absolute;
  top: 15%;
  width: 50%;
  height:20%;
  left:5%;
  border-style: solid;
  border-radius: 7px;
  background-color: #ffffff;
  display: grid;
  place-content: center;
  font-size: calc(0.8vh + 0.8vw);
  line-height: 5%;
}

#r{
  position: absolute;
  top: 45%;
  border-style: solid;
  border-radius: 7px;
  background-color: #3cff00;
  width: 50%;
  height:20%;
  left:5%;
  display: grid;
  place-content: center;
  font-size: calc(0.8vh + 0.8vw);
  line-height: 5%;
}

#o{
  position: absolute;
  top: 75%;
  border-style: solid;
  border-radius: 7px;
  background-color: #ff0000;
  width: 50%;
  height:20%;
  left:5%;
  display: grid;
  place-content: center;
  font-size: calc(0.8vh + 0.8vw);
  line-height: 5%;

}


.row-items{
background-color: #ffffff;
width: 13%;
height: 17%;
display: grid;
place-content: center;
font-size: calc(1vh + 1vw);
line-height: 5%;
border-style: solid;
border-radius: 8px;
}

.col-items{
background-color: #ffffff;
width: 13%;
height: 16%;
display: grid;
place-content: center;
font-size: calc(1vh + 1vw);
line-height: 5%;
border-style: solid;
border-radius: 8px;
}

.key{
  position: absolute;
  width: 10%;
  height: 40%;
  top: 30%;
  left: 8%;
}

.key-items{
  position: absolute;
}

.key-title{
  position: absolute;
  top: 1%;
  background-color: #ffffff;
  display: grid;
  place-content: center;
  font-size: calc(1vh + 1vw);
  line-height: 5%;
  text-align: center;

}

.all{
  width: 100vw;
  height: 90vh;
  position: relative;

}